body {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-left: 300px;
  margin-right: 300px;
  color: rgb(78, 78, 78);
  font-family: 'Catamaran', sans-serif;
}

/* TAG: HEADER */

.main-header {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
}

.main {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

.headshot {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headshot img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid gray;
  box-shadow: 0 0 5px #222;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-description {
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}

.name {
  font-size: 78px;
}

.title {
  font-size: 22px;
}

.name, .title, .header-description {
  margin: 5px;
}

.link-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.nav {
  text-decoration: none;
  color: #326d94;
  font-size: 20px;
  transition: color 300ms ease-in;
}

.nav:hover {
  color: cornflowerblue;
}

.arrow-nav {
  height: 50px;
  width: 100%;
  margin: 30px auto;
  transition: height 300ms ease-in;
}

.arrow-nav:hover {
  height: 60px;
}

.arrow-nav a img {
  max-height: 100%;
}

/* TAG: SKILLS */

.skills-list {
  height: 100vh;
  margin: 30px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 28px;
  margin: 15px;
}

.skills-ul {
  padding: 0;
  margin: 0;
  column-count: 2;
  width: 100%;
}

.skill {
  list-style-type: none;
  height: 50px;
  width: 100%;
  font-size: 18px;
  background: #326d94;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid whitesmoke;
}

/* TAG: PROJECTS */

.projects-container {
  height: 100vh;
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-areas:  "feature feature"
                        "proj-a  proj-b"
                        "proj-c  proj-d"
                        "proj-e  proj-f";
  grid-gap: 5px;
}

.feature-project {
  grid-area: feature;
  height: 50vh;
}

.projects:nth-child(2) {
  grid-area: proj-a;
  height: 15vh;
  background: lightgray;
}

.projects:nth-child(3) {
  grid-area: proj-b;
  height: 15vh;
  background: lightgray;
}

.projects:nth-child(4) {
  grid-area: proj-c;
  height: 15vh;
  background: lightgray;
}

.projects:nth-child(5) {
  grid-area: proj-d;
  height: 15vh;
  background: lightgray;
}

.projects:nth-child(6) {
  grid-area: proj-e;
  height: 15vh;
  background: lightgray;
}

.projects:nth-child(7) {
  grid-area: proj-f;
  height: 15vh;
  background: lightgray;
}

.feature {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
}

.img-container {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px #222;
}

.main a, .github-link {
  font-size: 28px;
  text-decoration: none;
  color: #326d94;
  transition: color 300ms ease-in;
}

.github-link {
  font-size: 18px;
}

.main a:hover, .github-link:hover {
  color: cornflowerblue;
}

.desc-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desc-container div:nth-child(1) {
  font-size: 28px;
}

.desc-container .project-desc {
  padding: 15px;
}

.tech-list {
  padding: 0;
  padding-top: 10px;
  margin: 0;
  width: 100%;
}

.tech {
  list-style-type: none;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  border-radius: 5px;
  transition: opacity 300ms ease-in;
}

.projects:hover {
  cursor: pointer;
  opacity: 0.6;
}

#gardenguru {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: white;
  background: #47A059;
  border: 5px solid #47A059;
}

#pixelpainter {
  font-family: 'Courier New', Courier, monospace;
  background: powderblue;
  border: 5px double goldenrod;
}

#envision {
  font-family: 'Lato', sans-serif;
  background: lightgray;
  color: #222;
  letter-spacing: 10px;
  border: 5px solid lightgray;
  font-weight: bold;
}

#gimmegimme {
  font-family: 'Varela Round', sans-serif;
  color: white;
  font-weight: bold;
  background: #a8dfdf;
  border: 5px solid powderblue;
  text-shadow: 1px 1px 3px black;
}

#kanban {
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
  background: #222;
  border: 5px solid #222;
}

#rolodex {
  font-family: 'Julius Sans One', sans-serif;
  background: #474645;
  color: white;
  letter-spacing: 5px;
  border: 5px solid #474645;
}

/* TAG: SOCIAL */
.social-container {
  height: 100vh;
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-links {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.link {
  height: 50px;
  width: 50px;
}

.link img {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .name {
    font-size: 46px;
  }

  .headshot img {
    height: 100px;
    width: 100px;
    margin: 15px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 0 0 5px #222;
  }

  .header-description {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .main-header {
    width: 375px;
  }
  .header-description {
    width: 360px;
  }

  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skills-list {
    margin: auto 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-ul {
    width: 100%;
  }

  .projects-container {
    margin: auto 50%;
    width: 100%;
  }

  .header {
    margin-bottom: 50px;
  }

  .projects-grid {
    grid-gap: 3px;
    grid-template-areas:  "feature"
                          "proj-a"
                          "proj-b"
                          "proj-c"
                          "proj-d"
                          "proj-e"
                          "proj-f"
  }

  .social-container {
    height: 100vh;
  }
}