/* body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "PT Sans Narrow", Sans-Serif;
  margin: 0;
  margin-bottom: 100px;
  padding: auto 200px;
  width: 100%; }
  body #information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body #information #name {
      width: 100%;
      display: flex;
      justify-content: center; }
      body #information #name img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin: 30px;
        margin-top: 50px; }
  body .headliner {
    padding-left: 50px;
    padding-right: 50px; }
    body .headliner h2 {
      color: #1D9ABA; }
    body .headliner .content {
      width: 100%; }
  body #skills ul li {
    margin: 5px; }

a:link {
  text-decoration: none;
  color: gray; }

a:visited {
  color: gray; }

#name_header {
  font-size: 100px;
  margin-bottom: 0; }

#description {
  margin: 0; }

#contact_list {
  list-style-type: none;
  padding: 0;
  font-family: "PT Sans", Serif; }

.main_line {
  background-color: #1D9ABA;
  width: 95%;
  height: 2px; }

.secondary_line {
  background-color: #607582;
  margin-left: 60px;
  margin-right: 60px;
  height: 2px; }

#bodyline {
  display: flex;
  flex-direction: column; }

h2 {
  font-size: "40px"; }

#skill_list {
  list-style-type: none;
  column-count: 3; }

.content {
  width: 90%; }

#devleague, #uhmanoa {
  font-size: 22px; } */
